@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin : 0px;
  padding : 0px
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.loginImg{
  width:  400px;
  height: 496px;
}


.clearBorder{
  border: 1px solid black
}
.scrollPrefrences{
  overflow-y: scroll;
  width : 20%;
  min-height: 200px;
  height: 80vh;
}
.scrollPrefrences::-webkit-scrollbar{
  width: 6px;
  height: 6px;

}


.placesModal::-webkit-scrollbar-thumb , .scrollPrefrences::-webkit-scrollbar-thumb{
  background-color:  #0956A3;
  border-radius:  2px;
}
.placesModal::-webkit-scrollbar-track , .scrollPrefrences::-webkit-scrollbar-track {
  background-color: #FFA000 ;
  border-radius:  2px;
}

.placesModal::-webkit-scrollbar ,  .reviews::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.placesModal::-webkit-scrollbar-thumb , .reviews::-webkit-scrollbar-thumb{
  background-color:  #0956A3;
  border-radius:  2px;
}
.placesModal::-webkit-scrollbar-track , .reviews::-webkit-scrollbar-track {
  background-color: #FFA000 ;
  border-radius:  2px;
}


.thinBorderBottom{
  border-bottom-width:  0.5px;
}
.hoverSettingsList:hover{
  box-shadow: 0px 2px 0px 0px black;
    text-shadow:  0.5px 0.5px 1px black;
}



 

.bgBackground {
 background: #f5f5f5; ;
}

.staticBg {
  background-color: #9ae7f3 ;
}

.monsterrat {
  font-family:  var(--monsterrat);
}
.maxScreenWidth {
  max-width: 1500px;
}
.loader {
  border: 2px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

.heroOverlay , .darkOverlay {
 background: linear-gradient(to right, rgba(0, 0, 0, 0.8) ,  rgba(0, 0, 0, 0.7) ,  rgba(0, 0, 0, 0.4)  , transparent) , linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 1% ,  transparent 99%)  ;
 opacity: 0.84;
}
.landmarkCardBg {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 20%,  transparent   ) ; 
  opacity: 0.84; 
}
.featuresSectionIcon{
  font-size: 100px;
  color  : black ;
  border-radius: 50%;
  padding: 24px;
}
  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


  @media screen and (max-width : 640px) {
    .loginImg{
    width:  200px;
    height: 248px ;
    }  
    .featuresSectionIcon {
      font-size: 70px;
    }
    }
    